corpo{
cor de fundo:amêndoa escaldada;
}

.azul{
cor de fundo: #69cbff;
preenchimento: 400px;
largura: 430px;
}

.inv{
largura: 720px;
}

.amarelo{
cor de fundo: #ffc400;
preenchimento: 100px;
margem: 20px;
}
.amarelo2{
cor de fundo: #ffc400;
preenchimento: 200px;
margem: 20px;
}
.extensor{
cor de fundo: RGB(255, 196, 0) ;
preenchimento direito: 540px;
}
.flexível{
mostrar:flexível;

}
.ramal{

preenchimento inferior: 290px;

}
divisão{
}
.longo{
preenchimento inferior: 200px;
}
.dar{
preenchimento direito: 300px;
}

.dar muito{
preenchimento direito: 570px;
}
