body{
    background-color: blanchedalmond;
}

.azul{
    background-color: rgb(105, 203, 255);
    padding: 100px;
    display: flex;
}

.amarelo{
    background-color: rgb(255, 220, 105);
    padding: 100px;
    margin: 20px;
}

.extender{
    background-color: rgb(255, 220, 105) ;
    padding-right: 350px;
}
.flex{
    display: flex;

}

.inv{
    width: 930px;
}
.alongado{
    height: 253px;
}

.quadrado{
    height: 100px;
}

.longo{
    height: 100px;;
}